-i https://pypi.org/simple
alembic
aniso8601
asttokens
cachelib
click
decorator
executing
Faker
Flask
Flask-Cache
Flask-Caching
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
ipdb
ipython
ipython-pygments-lexers
itsdangerous
jedi
Jinja2
Mako
MarkupSafe
matplotlib-inline
packaging
parso
pexpect
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
pytz
setuptools
six
SQLAlchemy
SQLAlchemy-serializer
stack-data
toml
traitlets
typing-extensions
wcwidth
Werkzeug
